<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
    <%- include("./partials/nav.ejs") %>

        <body>
            <h1>New Animal Form</h1>
            <form action="/animals" method="post"><br>
                <fieldset>
                    <legend>Add a new animal</legend>
                    Species: <input type="text" name="species"><br>
                    Extinct: <input type="checkbox" name="extinct"><br>
                    Location: <input type="text" name="location"><br>
                    Life Expectancy: <input type="number" name="lifeExpectancy">
                    <input type="submit" value="Add an animal to the list">
                </fieldset>
            </form>
        </body>

</html>